* {
  box-sizing: border-box;
}
#map {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  position: relative;
}
#map .tile {
  position: absolute;
  border: 1px solid black;
}
textarea {
  width: 300px;
  margin-top: 10px;
  resize: none;
  border: 1px solid black;
}
#message {
  height: 3em;
  width: 300px;
  overflow-y: scroll;
}
